/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     text-align:center;
     font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
     font-weight: 700;
     background: black;
     color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 50px;
     font-size: 30px;
     line-height: 50px;
     border-bottom: 1px solid rgb(58, 58, 60);
}

.container {
     padding: 8px 0;
}

table {
     margin: 0 auto;
}

.middleOfKeyboard, 
.topOfKeyboard,
.bottomOfKeyboard {
     width: 384px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}

.guessTable{
     width: 270px;
     border-collapse: separate;
     border-spacing: 4px;
     display: flex;
     flex-flow: row wrap;
}
.guess{
     border: 1px solid rgb(58, 58, 60);
     width: 48px;
     height: 48px;
     line-height: 48px;
     font-size: 32px;
}

button{
     width: 16px;
     height: 16px;
     background-color: rgb(130, 130, 130);
     border: none;
     border-radius: 5px;
     margin: 3px;
     font-weight: 900;
     color: white;
     font-size: 12px;
}

form, input {
     width: 16px;
     border-radius: 0;
     border: 0 solid rgb(58, 58, 60);
}

.keyboard, .wideKeyBoard{
     width: 33px;
     height: 58px;
}
.wider{
     width: 50.4px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
