/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     text-align:center;
     font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
     font-weight: 700;
     background: black;
     color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 3rem;
     font-size: 2rem;
     line-height: 3rem;
     border-bottom: 1px solid rgb(58, 58, 60);
}

.container {
     padding: 8px 0;
}

.middleOfKeyboard, 
.topOfKeyboard,
.bottomOfKeyboard {
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}

.guessTable{
     width: 100%;
     border-collapse: separate;
     border-spacing: .25rem;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}
.guess{
     border: 1px solid rgb(58, 58, 60);
     width: 3.5rem;
     height: 3.5rem;
     line-height: 3rem;
     font-size: 3rem;
}

button{
     width: 1rem;
     height: 1rem;
     background-color: rgb(130, 130, 130);
     border: none;
     border-radius: 5px;
     margin: 3px;
     font-weight: 900;
     color: white;
     font-size: .75rem;
}

form, input {
     width: 1rem;
     border-radius: 0;
     border: 0 solid rgb(58, 58, 60);
}

.keyboard, .wideKeyBoard{
     width: 2rem;
     height: 3.5rem;
}
.wider{
     width: 3.1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
